header a{
    font-size:36px;
    text-decoration:none;
}

#lead-content > h1{
    font-size:100px
}

#lead-content > h2{
    font-size: 50px;
}

#about .x {
    font-size: 27px;
    font-weight: 500;
    color: #000000;
    word-break: keep-all;
}

#skills> ul {
    font-size: 22px;
    text-align:left;
    max-width:1350px;
    font-weight:500;
    color: #000000;
}

 li{
    text-align:left;
    word-break: keep-all;
}

#projects .y{
    font-size: 30px;
    font-weight: 700;
}

#projects .w>a{
    font-size: 25px;
}

#projects .w {
    word-spacing: 5em;
}

#skills ul{
    word-break: keep-all;
}

.project-content-wrap-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

.project-img-wrap-custom {
    flex: 4;
}

.project-img-custom {
    display:block; 
    margin:auto;
    
    max-width: 450px;
    object-fit: cover;
}

.project-text-wrap-custom {
    flex: 8;
}

.project-title-custom {
    font-size: 32px;
    font-weight: 600;

    margin-top: 20px;
    margin-bottom: 20px;
}

.project-detail-wrap-custom {
    margin: 40px;
}

.project-detail-custom {
    font-size: 23px;
}

.copyright {
    font-size: 20px;
}

.fa {
    font-size: 25px;
}
.top span{
    width:50px;
    height:50px;
}
#lead-down span{
    width:50px;
    height:50px;
}