/* .project-info {
    width: 2000px!important;
} */
/* .row{
    display:flex;
    flex-direction: column;
    background-color:blue;
} */
.row{
    width:1400px;
}
#about p {
    color: #000000;
}
.container {
    margin-right: 250px!important;
    margin-left: 250px!important;
}
#project {
    height:600px!important;
    overflow: visible!important;
}
.project-image {
    text-align: center;
    justify-content: center;
    height:400px;
    width:300px;
    background-color:#000000;
}
.project-info p {
    color: #000000;
}
.project {
    height:400px;
}
.project-info,  project-image{
    display: flex;
    /* white-space: pre-line; */
    margin-left: 500px;
}
.project-info {
    flex-direction: column;
    /* background-color:yellow; */
}
/* .img{
    text-align:right;
} */
.project-image{
    /* object-fit:none; */
    /* text-align: center;
    object-fit:fill;
    background-size: contain; */
    /* background-color:black; */
}
.project-info-introduction {
    text-align: left;
}
/* .h3, .project-info-github, .project-info-demo {
    flex: 1;
    display:flex;
}
.project-info-introduction {
    flex: 3;
    display:flex;
} */

#skills>ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

#skills li {
    color: #000000;
}